body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center;
}

h1 {
    color: #e8a7c9;
}

h2 {
    color: #e8a7c9;
}

h3 {
    color: #e8a7c9;
}

p {
    color: #e8a7c9;
}

#main-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 5023px;
    background-color: #fffded;
    width: 1024px;
    border: solid 1px black;

}

#nav_rectangle {
    width: 100%;
    height: 150px;
    background-color: #ebe5d6;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
 justify-content: space-around;
 color: #e8a7c9;
}

li {
    margin: 20px;
    padding: 10px;
    
}

/* img {
    width: 200px;
    height: 150px;
    padding: 50px;
    margin-top: 150px;
   
} */
#about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 100%;
}

#logo-about {
    height: 520px;
    width:570px;
    /* border: solid 1px red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#logo-title {
    height: 240px;
    width: 340px;
    /* border: solid 1px blue ; */
    padding-top: 75px;
  justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;

}

#rectangle-1 {
    height: 151px;
    width: 1024px;
    background-color: #ebe5d6;
}

#prev-works-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px purple
}

#digital-text {
    display: flex;
    justify-content: flex-start;
    border: solid 1px green;
    justify-content:space-between;
    align-items: center;
    padding-right: 150px;
    padding-left: 150px;
}

#digital-images {
flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
    padding-right: 150px;
    padding-left: 150px;
    justify-content: start;
    border: steelblue solid 1px;
}
#traditional-images {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
    padding-right: 150px;
    padding-left: 150px;
    justify-content: end;
    border: tomato solid 1px;
}

#rectangle-2 {
    height: 151px;
    width: 1024px;
    background-color: #ebe5d6;
}

#skills-sec {
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 100%;
}

#rectangle-3 {
    height: 151px;
    width: 1024px;
    background-color: #ebe5d6;
}

#services-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 100%;
}

#rectangle-4 {
    height: 151px;
    width: 1024px;
    background-color: #ebe5d6;
}


